<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">

<head>

</head>

<body>

	<h2>Product list</h2>
	<section class="mt-4" layout:fragment="content">
		<h3 th:if="${message != null}" class="alert alert-primary" role="alert">
			<i th:text="${message}"></i>
		</h3>
		<div class="row mt-2 mb-2">
			<div class="col d-flex justify-content-between align-items-center">
				<form th:action="@{/admin/products/search}" class="d-flex align-items-center">
					<div class="form-group me-2">
						<label for="name" class="me-2">Name:</label> <input type="text" name="name" id="name"
							class="form-control">
					</div>
					<button class="btn btn-primary mt-4">Search</button>
				</form>
				<a class="btn btn-outline-primary" th:href="@{/admin/products/add}">Add new Product</a>
			</div>
		</div>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Product ID</th>
					<th scope="col">Product name</th>
					<th scope="col">Quantity </th>
					<th scope="col">Price</th>
					<th scope="col">Discount</th>
					<th scope="col">Enter Date</th>
					<th scope="col">Category ID</th>
					<th scope="col">Category Name</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productPage.content}">
					<td th:text="${product.productID}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.quantity}"></td>
					<td th:text="${product.unitPrice}"></td>
					<td th:text="${product.discount}"></td>
					<td th:text="${#dates.format(product.enterDate, 'dd/MM/yyyy')}"></td>
					<td th:text="${product.category != null ? product.category.categoryID : 'N/A'}"></td>
					<td th:text="${product.category.name}"></td>
					<td>
						<a th:href="@{'/admin/products/edit/' + ${product.productID}}"
							class="btn btn-outline-warning btn-sm">Sửa</a>
						<a th:href="@{'/admin/products/delete/' + ${product.productID}}"
							class="btn btn-outline-danger btn-sm">Xóa</a>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<div>
			<nav aria-label="Page navigation" th:if="${productPage.totalPages > 0}">
				<ul class="pagination justify-content-center">
					<li th:class="${productPage.first} ? 'page-item disabled' : 'page-item'">
						<a th:href="@{/admin/products/search(name=${name}, size=${productPage.size}, page=1)}"
							class="page-link">First</a>
					</li>

					<li th:each="pageNumber : ${pageNumbers}"
						th:class="${productPage.number + 1 == pageNumber} ? 'page-item active' : 'page-item'">
						<a th:href="@{/admin/products/search(name=${name}, size=${productPage.size}, page=${pageNumber})}"
							class="page-link" th:text="${pageNumber}"></a>
					</li>

					<li th:class="${productPage.last} ? 'page-item disabled' : 'page-item'">
						<a th:href="@{/admin/products/search(name=${name}, size=${productPage.size}, page=${productPage.totalPages})}"
							class="page-link">Last</a>
					</li>
				</ul>
			</nav>

		</div>
	</section>

</body>

</html>